<div class="container">
  <div class="row mb-4" style="height: 18rem;">
    <div class="col-md-4">
      <div class="row no-gutters border rounded-top overflow-hidden flex-md-row mb-4 " >
        <div id="card-body" class="card-body col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">
            <strong class="d-inline-block mb-2 text-light">Project Name</strong>
          </h3>
        </div>
        <div id="card-footer" class="col-12 card-footer">
            
          </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card row no-gutters border rounded-top overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div id="card-body" class="card-body col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">
              <strong class="d-inline-block mb-2 text-light">Project Name</strong>
            </h3>
          </div>
          <div id="card-footer" class=" col-12 card-footer rounded-bottom">

            </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="card row no-gutters border rounded-top overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div id="card-body" class="card-body col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">
                <strong class="d-inline-block mb-2 text-light">Project Name</strong>
              </h3>
            </div>
            <div id="card-footer" class=" col-12 card-footer">

              </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card row no-gutters border rounded-top overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div id="card-body" class="card-body col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">
                  <strong class="d-inline-block mb-2 text-light">Project Name</strong>
                </h3>
              </div>
              <div id="card-footer" class=" col-12 card-footer">

                </div>
            </div>
          </div>
  </div>

</div>
