#card-body{
  background: rgb(119, 127, 133);
}

#card-footer{
  background: #343A40;
}

.fa-star {
color: #dfe23d;
}

.fa-star-o {
  color: #ffffff;
  }

.btn {
  border: none;
  color: white;
  padding: 0.5px;
  margin-right: 50px;
  font-size: 20px;
  
 }

.fa-thumbs-up{
  color: #343A40;
}

.img {
  height: auto;
  max-width: 100%; }