<div class="container ">
  <div class="row">
    <div class="col-md-4" *ngFor="let p of projects">
        <div class="card-deck justify-content-center m-2">
            <div class="single-blog-post style3 mb-30 wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                <div class="blog-thumb mb-30">
                    <img src="assets/img/bg-img/7.jpg" alt="">
                    
                </div>
                <div class="blog-content">
                    <a href="#" class="post-tag">{{p.type}}</a>
                    <a href="#" class="post-title">{{p.name}}</a>
                    <div class="post-meta d-flex justify-content-between m-25">
                        <a href="#"><button class="btn" (click)="updateProjects(p)">
                            <i class="fa fa-thumbs-up"></i>
                          </button></a>
                        <a href="#">{{p.score}}</a>
                        <div class="d-flex">
                            <a href="#">
                                <span class="crop fa-pull-right" [style.width.px]="starWidth">
                                    <div >
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                    </div>
                                  </span>
                               </a>
                            
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div id="single-blog-post" class="card mb-md-4 single-blog-post dark position-relative">
              <div class="card-body text-center blog-content ">
                  <a href="#"><img class="mb-2" src="{{p.pic}}" alt=""></a>
                  <a href="#" class="card-text post-tag">{{p.type}}</a>
                  <a href="#" class="card-text post-title m-3">{{p.name}}</a>
                  <div class="row post-meta  d-inline-flex">
                      <span><button style="float: left;" class="btn" (click)="vote(); " [disabled]="clicked">

                          <i class="fa fa-thumbs-up"></i>
                        </button></span>
                        <span class="crop fa-pull-right"  style="float: left;" [style.width.px]="getStars(voteN)" [title]="voteN">
                            <div >
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                            </div>
                          </span>
                          <div >
                              <i style="float: left;" class="fa fa-user"></i>
                              <p style="float: left;" class="userN">{{ voteN }}</p>
                            </div>
                  </div>
              </div>
            </div> -->
          </div>
    </div>
  </div>



    <!-- <div class="container"  *ngFor="let p of projects">
        <div class="card single-blog-post dark position-relative mb-4" >
            <div class="card-body  blog-content p-4">
                <a href="#" class="post-tag">{{p.type}}</a>
                <a href="#" class="post-title">{{p.name}}</a>
                <div class="post-meta ">
                    <a href="#"><img src="assets/img/core-img/author.png" alt=""> By James Smith</a>
                    <a href="#"><img src="assets/img/core-img/calender.png" alt=""> July 23, 2018</a>
                    <a href="#"><img src="assets/img/core-img/chat.png" alt=""> 5</a>
                    <a href="#"><img src="assets/img/core-img/like.png" alt=""> 12k</a>
                </div>
            </div>
        </div>
</div> -->

 <!-- <div class="row mb-5" >
    <div class="card-deck col-md-6">
        <div  *ngFor="let p of projects">
      <div class="card  row flex-md-row mb-5 single-blog-post dark ">
        <div class="card-body flex-column  blog-content">
            <a href="#" class="post-tag">{{p.type}}</a>
            <a href="#" class="post-title">{{p.name}}</a>
        </div>
        <div class="card-body">

        </div>

        <div class="card-footer post-meta">
            <a href="#"><img src="assets/img/core-img/author.png" alt=""> By James Smith</a>
            <a href="#"><img src="assets/img/core-img/calender.png" alt=""> July 23, 2018</a>
            <a href="#"><img src="assets/img/core-img/chat.png" alt=""> 5</a>
            <a href="#"><img src="assets/img/core-img/like.png" alt=""> 12k</a>

            <button class="btn" (click)="vote()">
                <i class="fa fa-thumbs-up"></i>
              </button>

              <div class="crop" [style.width.px]="starWidth">
                <div >
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
        </div>
      </div>
    </div>


    </div>
      </div> -->
    </div>
