<div class="container ">
  <div class="row">
    <div class="col-md-4" *ngFor="let p of projects">
      <div class="card-deck justify-content-center m-2">
        <div
          class="single-blog-post style3 mb-30 wow fadeInUp"
          data-wow-delay="400ms"
          style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;"
        >
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="assets/img/bg-img/111.jpg" alt="" />

                <div class="flip-box-back">
                  <p>{{ p.description }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-content">
            <a href="#" class="post-tag m-1">{{ p.type }}</a>
            <a href="#" class="post-title">{{ p.name }}</a>
            <div class="post-meta d-flex justify-content-between m-25 row">
              <a href="#" class="col-4"
                ><button class="btn " (click)="updateProjects(p)">
                  <i class="fa fa-thumbs-up"></i></button
              ></a>
              <a class="col-4" href="#">{{ p.score }}</a>
              <div class=" col-4 ">
                <a href="#">
                  <span
                    class="crop"
                    [style.width.px]="getStars(p.score)"
                    [title]="getStars(p.scope)"
                  >
                    <div id="starWidth" style="width: 75px; float: bottom;">
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
