.crop {
  overflow: hidden;
}

#card-body{
  background: rgb(119, 127, 133);
}

/* button::after {
  color: royalblue;
} */

#card-footer{
  background: #343A40;
  position: relative;
}

.fa-star {
color: #dfe23d;
}

.fa-star-o {
  color: #ffffff;
  }

.btn {
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
 }

 .fa-user{
  border: none;
  padding: 12px 16px;
  color: white;
  font-size: 20px;
 }

 .userN {
  padding: 12px 16px;
  color: white;
  font-size: 20px;
 }

